/out/
/build/classes/java/main/inc/boes/praktikum/interfaces/AbstractAVLTree.class
/build/classes/java/main/inc/boes/praktikum/classes/AVLTree.class
/build/classes/java/main/inc/boes/praktikum/classes/BinarySearchTree.class
/build/classes/java/main/inc/boes/praktikum/classes/TreeNode.class
